* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABELS */
:root {
  --background-general: #0f0f0f;
  --textos-general: #f1f1f1;
  --textos-secundarios: #aaa;
}

body {
  background-color: var(--background-general);
  color: var(--textos-general);
}

/* .header {
} */

/* ================== BARRA DE NAVEGACIÓN ================== */
.yt-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  outline: rebeccapurple solid 1px;
}

.yt-nav-superior {
  /* background-color: rgba(250, 235, 215, 0.226); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  padding: 0 0.8rem;
}

.nav-ctas {
  display: flex;
  align-items: center;
  gap: 20px;
}

.yt-nav-logo {
  width: 100px;
  color: #f1f1f1;
}

.nav-searchs {
  display: none;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}

.nav-icon-icon {
  font-size: 25px;
}

.nav-icon-figure {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  overflow: hidden;
}

.nav-icon-img {
  width: 100%;
  height: 100%;
}

.yt-nav-inferior {
  /* background-color: beige; */
  height: 56px;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 12px;
  margin-top: -10px;
}

.nav-inferior-btn {
  padding: 0 0.75rem /*12px*/;
  height: 2rem;
  font-size: 14px;
  min-width: max-content;
  background-color: #272727;
  color: var(--textos-general);
  font-weight: 600;
  border: none;
  border-radius: 0.5rem; /* 8px */
}

.btn-invert {
  background-color: var(--textos-general);
  color: #272727;
}
