@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABELS */
:root {
  --background-general: #0f0f0f;
  --textos-general: #f1f1f1;
  --textos-secundarios: #aaa;
}

body {
  background-color: var(--background-general);
  color: var(--textos-general);
  font-family: "Roboto", sans-serif;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #0f0f0ffb;
}

/* ================== BARRA DE NAVEGACIÓN ================== */
.yt-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*Para que el menu hamburguesa pueda ser pointer*/
.pointer {
  cursor: pointer;
}

.yt-nav-superior {
  /* background-color: rgba(250, 235, 215, 0.226); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  padding: 0 0.8rem;
}

.nav-ctas {
  display: flex;
  align-items: center;
  gap: 20px;
}

.yt-nav-logo {
  width: 100px;
  color: #f1f1f1;
}

.nav-searchs {
  display: none;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.nav-icon-icon {
  font-size: 25px;
  position: relative;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-icon-icon:hover {
  background-color: #3f3f3f;
  border-radius: 100%;
}

.nav-icon-number {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e1002d;
  letter-spacing: 1px;
  font-size: 12px;
  position: absolute;
  right: -3px;
  top: 2px;
  border-radius: 8px;
  padding: 2px 3px;
}

.nav-icon-figure {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  overflow: hidden;
  margin-left: 5px;
  cursor: pointer;
}

.nav-icon-img {
  width: 100%;
  height: 100%;
}

.yt-nav-inferior {
  /* background-color: beige; */
  height: 56px;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 12px;
  margin-top: -10px;
}

.nav-inferior-btn {
  padding: 0 0.75rem /*12px*/;
  height: 2rem;
  font-size: 14px;
  min-width: max-content;
  background-color: #272727;
  color: var(--textos-general);
  font-weight: 600;
  border: none;
  border-radius: 0.5rem; /* 8px */
}

.btn-invert {
  background-color: var(--textos-general);
  color: #272727;
}

/*=============================== SIDEBAR ===============================*/
.sidebar {
  display: none;
}

/*=============================== CONTAINER ===============================*/

.cointainer {
  width: calc(100vw - 20px);
  margin: 0 auto;
  padding-top: 10px;
}

/*=============================== GRID VIDEOS ===============================*/
.vid-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0 12px;
  /* margin: 0 auto; */
}

.vid-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* min-width: 100%; */
  width: 100%;
  max-width: 520px;
  max-height: 370px;
  cursor: pointer;
  /* margin: 0 auto; */
  flex-grow: 1;
}

.vid-img-figure {
  overflow: hidden;
  min-height: max-content;
  max-height: 219px;
  width: 100%;
  border-radius: 1.1rem;
  position: relative;
}

.duration {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.603);
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
}

.icon-music {
  height: 12px;
  width: 12px;
  display: inline-block;
  fill: currentcolor;
}

.vid-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.viewed::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: red;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.vid-item-owner {
  /* padding-left: 10px; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.vid-owner-data {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.vid-owner-figure {
  min-width: 36px;
  max-width: 46px;
  height: 36px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vid-owner-img {
  width: 100%;
  height: 100%;
}

.vid-owner-desc {
  text-align: left;
}

.vid-owner-title {
  line-height: 1.3;
}

.vid-stats {
  background-color: #aaa;
}

.vid-desc-item {
  font-size: 14px;
  color: var(--textos-secundarios);
  margin-right: 8px;
}

.vid-desc-item:hover {
  color: var(--textos-general);
}

/* BREAKPOINT 572 PX */

@media (min-width: 572px) {
  .vid-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* BREAKPOINT 657 PX */
@media (min-width: 657px) {
  .nav-searchs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
  }

  .display-none {
    display: none;
  }

  .nav-searchs-1 {
    display: flex;
    /* background-color: #e1002d; */
  }

  .nav-barsearch {
    background-color: var(--background-general);
    border: solid 1px #303030;
    border-radius: 20px 0px 0px 20px;
    padding: 5px 10px;
    flex: 1;
  }

  .nav-search-btn {
    background: none;
    background-color: #292828;
    border: none;
    border-top: solid 1px #303030;
    border-right: solid 1px #303030;
    border-bottom: solid 1px #303030;
    outline: none;
    padding: 5px 10px;
    text-align: center;
    border-radius: 0 20px 20px 0;
  }

  .nav-searchs .material-symbols-outlined:nth-child(1) {
    color: var(--textos-general);
  }

  .nav-searchs .material-symbols-outlined:nth-child(2) {
    background-color: #292828;
    padding: 7px;
    border-radius: 100%;
  }
}
